@model first_project.Models.Student
@*/* what is a directive? */*@


@{
    // We can declare & provide values to variables in this block , which can in turn be used in html below.
    // This helps use to provide dynamic values to the html webpages.

}

<p>This is the student that was added @Model.Name </p>