@model first_project.Models.Student

@* The above line (directive), specifies the model to be used in this view *@


<p>This is name = @Model.Name</p>
<p>This is id = @Model.StudentId</p>
<p>This is age = @Model.Age</p>